@charset "utf-8";
/* CSS Document */

/* Fuentes Personalizadas */
@font-face{
	font-family: ubuntuRegular;  /* fuente para ubuntu regular Ubuntu-R.ttf */
	src: url(fuentes/Ubuntu-R.ttf) format ('truetype');
	}

@font-face{
	font-family: ubuntuBold;  /* fuente para ubuntu bold Ubuntu-B.ttf */
	src: url(fuentes/Ubuntu-B.ttf) format ('truetype');
	}
	
	@font-face{
	font-family: ubuntuItalic; /* fuente para ubuntu italica Ubuntu-I.ttf */
	src: url(fuentes/Ubuntu-I.ttf) format ('truetype');
	}
	
	@font-face{
	font-family: ubuntuBoldItalic;  /* fuenta para ubuntu bold italica Ubuntu-BI.ttf */
	src: url(fuentes/Ubuntu-BI.ttf) format ('truetype');
	
	}
	
	
	/* Estilos Básicos */
	
	h1,h2,h3,h4,h5,h6{
		font-family: ubuntuBold;
		}
		
	p{
		font-family:ubuntuRegular;
		}